@model UpdateVisitorViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Bildirim Ekleme</h5>
                <small class="text-muted float-end">Ziyaretçi Güncelleme</small>
            </div>
            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form asp-action="Update" asp-controller="AdminVisitor" method="post">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.Status" />
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">Ad</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class="bx bxs-city"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-fullname2"
                                   asp-for="@Model.Name" />
                        </div>
                        <span class="text-danger" asp-validation-for="@Model.Name"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">Soyad</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class="bx bxs-city"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-fullname2"
                                   asp-for="@Model.Surname" />
                        </div>
                        <span class="text-danger" asp-validation-for="@Model.Surname"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">Şehir</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class="bx bxs-city"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-fullname2"
                                   asp-for="@Model.City" />
                        </div>
                        <span class="text-danger" asp-validation-for="@Model.City"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">İlçe</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class="bx bxs-city"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-fullname2"
                                   asp-for="@Model.Country" />
                        </div>
                        <span class="text-danger" asp-validation-for="@Model.Country"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">Mail</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                                <i class="bx bxs-city"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-label="John Doe"
                                   aria-describedby="basic-icon-default-fullname2"
                                   asp-for="@Model.Mail" />
                        </div>
                        <span class="text-danger" asp-validation-for="@Model.Mail"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
