@model List<ResultReservationViewModel>
@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_MemberTwoLayout.cshtml";
}
@{
    int count = 0;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Onay Bekleyen Rezervasyonlar</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Onay Bekleyen Rezervasyonlar Listesi </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Şehir</th>
                                    <th>Süre</th>
                                    <th>Kapasite</th>
                                    <th>Durum</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.DestinationCityName</td>
                                            <td>@item.Date.ToShortDateString()</td>
                                            <td>@item.PersonCount</td>
                                            <td>@item.StatusL</td>
                                            <td><a href="#" class="btn btn-sm btn-info">Detaylar</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            Onay Bekleyen Rezervasyonunuz Bulunmamaktadır
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

