@model List<ResultDestinationViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int count = 0;
}
<div class="row">
    <div class="card">

        <h5 class="card-header">Tur Rotaları</h5>
        <div class="table-responsive text-nowrap">
            <a class="btn btn-primary" asp-action="Create" asp-controller="AdminDestination"><i class="bx bx-add-to-queue me-1"></i> Yeni Rota</a>
            <table class="table my-2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Şehir</th>
                        <th>Fiyat</th>
                        <th>Kapasite</th>
                        <th>Durum</th>
                        <th>Sitede Gör</th>
                        <th>Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @if (Model is { Count: > 0 })
                    {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@count</strong></td>
                                <td>@item.City</td>
                                <td>@item.Price ₺</td>
                                <td>@item.Capacity</td>
                                <td><span class="badge bg-label-primary me-1">@(item.Status==true?"Aktif":"Pasif")</span></td>
                                <td><a class="btn btn-outline-info" asp-action="Index" asp-controller="Default">Sitede Gör</a></td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-action="Update" asp-controller="AdminDestination" asp-route-dataId="@item.DataProtect"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                                            <a class="dropdown-item" asp-action="Delete" asp-controller="AdminDestination" asp-route-dataId="@item.DataProtect"><i class="bx bx-trash me-1"></i> Sil</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Rota Bulunamadı...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>