@model List<ResultCommentViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int count = 0;
}
<div class="row">
    <div class="card">

        <h5 class="card-header">Yorumlar</h5>
        <div class="table-responsive text-nowrap">
            <table class="table my-2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kullanıcı</th>
                        <th>Rota</th>
                        <th>Tarih</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @if (Model is { Count: > 0 })
                    {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@count</strong></td>
                                <td>@item.FullName</td>
                                <td>@item.DestinationCityName</td>
                                <td>@item.Date.ToString("dd.MM.yyyy")</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-action="Delete" asp-controller="AdminComment" asp-route-dataId="@item.DataProtect"><i class="bx bx-trash me-1"></i> Sil</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Yorum Bulunamadı...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>